<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="boolean" scope="shop">
            <name>HideDisabledVariants</name>
            <label lang="de">Inaktive Varianten ausblenden</label>
            <label lang="en">Hide disabled variants</label>
            <value>Mein Inhalt</value>
        </element>
    </elements>
</config>